.txt {
    font-size: 18pt;
}

#numBinario {
    font-size: 15pt;
}

#binario {
    position: absolute;
    top: 130px;
    left: 8px;
}

#decimal {
    position: absolute;
    top: 240px;
    left: 8px;
}

#numDecimal {
    position: absolute;
    top: 200px;
    left: 8px;
    font-size: 15pt;
}
